.flex-item {
  border: 1px solid black;
  transition: all 0.5s;
  text-align: center;
  border-radius: 8px;
}

.window {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}

.controls {
  flex-grow: 1;
  flex-basis: 0;
  align-items: stretch;
  display: flex;
}

.controls>div {
  padding: 8px 20px;
  margin-left: 2px;
}

.controls>div:first-child {
  border-left: none;
}

.left {
  flex-grow: 1;
  flex-basis: 0;
  background-color: #F6F8EE;
  overflow: scroll;
}

.right {
  flex-grow: 1;
  flex-basis: 0;
  box-shadow: -2px 0px #eee;
  background-color: #F0F0D8;
  overflow: scroll;
}

.view {
  flex-grow: 1;
  flex-basis: 0;
  border-top: 0 solid #555;
  background-color: #EEECB9;
  display: flex;
  transition: all 0.5s;
  box-shadow: 0px -2px #eee;
  overflow: scroll;
  padding: 20px;
}

.key-value-container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.key-value {
  display: flex;
}

.key-value .eq {
  flex-grow: 1;
}

.key-value .key {
  flex-basis: 200px;
}

.key-value .value {
  flex-basis: 200px;
}

.key-value .value .default-value {
  margin-left: 10px;
  color: goldenrod;
}

.mult {
  display: flex;
  justify-content: space-between;
}

.mult > * {
  margin-left: 5px;
}

.mult > *:first-child {
  margin-left: 0;
}

.bar {
  margin-bottom: 15px;
  padding: 8px;
  border: 1px solid black;
  border-radius: 4px;
}

.form-group {
  margin: 15px 0;
}