
.icon-eq:before { content: '\e800'; } /* '' */
.icon-left:before { content: '\e801'; } /* '' */
.icon-right:before { content: '\e802'; } /* '' */
.icon-star-filled:before { content: '\e803'; } /* '' */
.icon-flow-cross:before { content: '\e804'; } /* '' */
.icon-info:before { content: '\e805'; } /* '' */